body {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
}

input {
  width: 250px;
  padding: 9px 25px;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;

}

#balance {
  padding: 9px 20px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.7px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1em;
  margin: 10px 5;
  padding: 10px 5;
  display: flex-grow;
  &:before {
    content: "Balance:";
  }
}

.components {
  display: flex-grow;


  > div {
    background-color: #eee;
    margin: 20px;
    width: auto;
    padding: 30px 10px;
    text-align: center;
    border-radius: 5px;
    display: flex-wrap;

    h1 {
        margin: 0 0 10px;
    }
  }
}

.button {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  padding: 9px 20px;
  font-size: 0.7em;
  letter-spacing: 1px;
  color: black;
  //background-color: #f58427;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);

  &:hover {
    cursor: pointer;
  }
}
